# Exclude local binaries
.DS_Store/
.vs/
.vscode/
**/bin/
**/obj/
**/wwwroot/
**/appsettings.Development.json
*.csproj.user

# Exclude git history and configuration.
.git/
.gitignore

# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log

# Directories
.terraform/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf


